/* Block */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.header {
  padding: 1.2rem 0;
}
@media screen and (max-width: 767px) {
  .header {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
}
.user .user__avatar {
  width: 57px;
  height: 57px;
}
.user .user__avatar img {
  border-radius: 50%;
}
.user .user__content {
  padding-left: 9px;
}
.user .user__content .user__name {
  margin-bottom: 3px;
  font-size: 1.06rem;
  line-height: 1.2;
  color: #2b2a2c;
  font-weight: 700;
}
.user .user__content .user__prof {
  font-size: 0.8rem;
  color: fade(#2b2a2c, 70%);
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .nav {
    width: 100%;
    height: auto;
    padding: 1rem;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: none;
  }
  .nav.show {
    display: flex;
  }
}

.nav__link {
  margin-left: 2rem;
  position: relative;
  font-size: 0.93rem;
  color: #2b2a2c;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  /* Modificators */
}
.nav__link:after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #2b2a2c;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  transition: width 0.2s linear;
}
.nav__link:hover:not(.nav__link--btn):after {
  width: 100%;
}
.nav__link--btn {
  padding: 0.66rem 2rem;
  border: 2px solid #2b2a2c;
  border-radius: 20px;
  transition: background-color 0.2s linear, color 0.2s linear;
}
.nav__link--btn:hover {
  background-color: #2b2a2c;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .nav__link {
    width: 100%;
    margin-left: 0;
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin-top: 100px;
  }
}

.intro__inner {
  display: flex;
  padding-top: 6.6rem;
  padding-bottom: 8rem;
  position: relative;
  background: url("../symbols.png") right bottom no-repeat;
  border-bottom: 1px solid fade(#6A6968, 30%);
}
@media screen and (max-width: 991px) {
  .intro__inner {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-size: 400px auto;
  }
}
@media screen and (max-width: 767px) {
  .intro__inner {
    background-size: 300px auto;
  }
}

.intro__content {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .intro__content {
    width: 60%;
  }
}
@media screen and (max-width: 565px) {
  .intro__content {
    width: 100%;
  }
}

.intro__subtitle {
  font-size: 2.13rem;
  color: #2b2a2c;
  font-weight: 200;
}
@media screen and (max-width: 991px) {
  .intro__subtitle {
    font-size: 1.5rem;
  }
}

.intro__title {
  margin-bottom: 5px;
  font-size: 3rem;
  color: #2b2a2c;
  font-weight: 700;
}
@media screen and (max-width: 991px) {
  .intro__title {
    font-size: 2rem;
  }
}

.intro__text {
  margin-bottom: 25px;
  font-size: 1.2rem;
  color: fade(#2b2a2c, 70%);
}

.intro__photo {
  position: absolute;
  bottom: -1px;
  right: 0;
  z-index: 1;
}
@media screen and (max-width: 991px) {
  .intro__photo {
    width: 350px;
  }
}
@media screen and (max-width: 767px) {
  .intro__photo {
    width: 300px;
  }
}
@media screen and (max-width: 565px) {
  .intro__photo {
    display: none;
  }
}

.social {
  display: flex;
  margin-bottom: 42px;
}

.social__link {
  margin-right: 10px;
  text-decoration: none;
  transition: transform 0.2s linear;
}
.social__link:hover {
  transform: translateY(-5px);
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 1.05em 1.7em;
  min-width: 170px;
  border: 1px solid #6A6968;
  border-radius: 1.8em;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.06rem;
  line-height: 1.1;
  color: #2b2a2c;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, border-color 0.2s linear;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: #2b2a2c;
  box-shadow: 2px 2px 10px fade(#000, 24%);
  color: #FFFFFF;
  border-color: #2b2a2c;
}
.btn + .btn {
  margin-left: 1rem;
}
.btn--sm {
  padding: 0.7em 1.2em;
  font-size: 0.94rem;
  font-weight: 700;
  border-width: 2px;
  min-width: 0;
}
.btn--thin {
  min-width: 145px;
  font-size: 0.8rem;
}
@media screen and (max-width: 991px) {
  .btn {
    font-size: 1rem;
    padding: 1em 1.5em;
    min-width: 140px;
  }
}
@media screen and (max-width: 565px) {
  .btn {
    display: block;
    width: 100%;
  }
  .btn + .btn {
    margin-left: 0;
    margin-top: 1rem;
  }
}

.buttom-btn {
  margin-left: 42.5%;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem 2.8rem;
}

.portfolio-col {
  flex-basis: 33.333333%;
  padding: 1rem;
}
@media screen and (max-width: 767px) {
  .portfolio-col {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 565px) {
  .portfolio-col {
    flex-basis: 100%;
  }
}

.about {
  margin: 8.4rem 0;
}
@media screen and (max-width: 991px) {
  .about {
    margin: 4rem 0;
  }
}

.about__inner {
  display: flex;
  flex-wrap: wrap;
  max-width: 1090px;
}

.about__photo,
.about__content {
  width: 50%;
}
@media screen and (max-width: 767px) {
  .about__photo,
  .about__content {
    width: 100%;
  }
}

.about__photo {
  position: relative;
}
.about__photo img {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.about__photo:before {
  content: "";
  display: block;
  width: 413px;
  height: 413px;
  background-color: #EFEFEF;
  position: absolute;
  left: 1rem;
  bottom: 0;
  z-index: 1;
}
@media screen and (max-width: 991px) {
  .about__photo {
    order: 2;
  }
  .about__photo:before {
    width: 100%;
    height: 300px;
    left: 0;
  }
  .about__photo img {
    position: relative;
    margin: 0 auto;
  }
}

.about__content {
  padding-left: 3.2rem;
  margin-top: 2rem;
}
@media screen and (max-width: 767px) {
  .about__content {
    order: 1;
    margin-bottom: 2rem;
    padding-left: 0;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about__title {
  font-size: 3rem;
  color: #2b2a2c;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .about__title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .about__title {
    font-size: 2rem;
  }
}

.about__bigtitle {
  margin-bottom: 1.4rem;
  position: relative;
  left: -10px;
  font-size: 6.1rem;
  line-height: 1.1;
  color: fade(#2b2a2c, 15%);
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .about__bigtitle {
    font-size: 4rem;
  }
}
@media screen and (max-width: 991px) {
  .about__bigtitle {
    position: static;
  }
}
@media screen and (max-width: 767px) {
  .about__bigtitle {
    font-size: 3rem;
  }
}

.about__text {
  margin-bottom: 2.8rem;
  font-size: 0.8rem;
  line-height: 2;
  color: #6A6968;
  font-weight: 300;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.articles__col {
  width: 33.33333%;
  padding: 0 1rem;
}
@media screen and (max-width: 767px) {
  .articles__col {
    width: 100%;
  }
}

.articles__item {
  margin-bottom: 2rem;
}
@media screen and (max-width: 767px) {
  .articles__item {
    max-width: 370px;
    margin: 0 auto 2rem;
  }
}

.articles__header {
  position: relative;
  margin-bottom: 1.35rem;
}

.articles__content {
  margin-bottom: 2rem;
}

.articles__date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77px;
  height: 77px;
  background-color: #2b2a2c;
  color: #FFFFFF;
  font-size: 1.06rem;
  line-height: 1.4;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.articles__photo {
  display: block;
  max-width: 100%;
  height: auto;
}

.articles__title {
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
  color: #2b2a2c;
  text-transform: uppercase;
}
.articles__title a {
  color: inherit;
  text-decoration: none;
}
.articles__title a:hover {
  text-decoration: underline;
}

.articles__cat {
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  color: #2b2a2c;
  text-transform: uppercase;
}

.articles__text {
  font-size: 0.8rem;
  color: #6A6968;
  font-weight: 300;
  line-height: 2;
}

.burger {
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  background: none;
  display: none;
}
@media screen and (max-width: 767px) {
  .burger {
    display: block;
  }
}

.burger__icon {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Helpers */
.align {
  text-align: center;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-right {
  text-align: right;
}

.mb-0 {
  margin-bottom: 0;
}

.hide {
  display: none;
}

html {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #2b2a2c;
}
body.no-scroll {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */