// main: ../style.s—Åss

.burger {
    width: 30px;
    height: 30px;
    padding: 0;
    border: 0;
    background: none;
    display: none;

    @media screen and (max-width: 767px) {
        display: block;
    }
}

.burger__icon {
    display: block;
    max-width: 100%;
    height: auto;
}
