*{
    font-family: 'Quicksand', sans-serif;
}

.main-container{
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

.form-container {
    width: 50%;
    text-align: center;
    position: relative;
}

.logo{
    margin: 0;
    position: absolute;
    top:10%;
    left:45%;
}

h1 {
    margin: 0;
    position: absolute;
    top: 18.5%;
    left: 24%;
    font-weight: bolder;
    color: white;
    font-size: xx-large;
    text-align: center;
}

h2 {
    font-size: 17px;
    margin-bottom: 0;
}

h3 {
    font-size: 15px;
}

.price-list-container {
    background-image: url('side_background2.svg');
    width: 50%;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    width: 720px;
    height: 900px;
}

.container-price {
    padding: 10px;
    background: rgba(255,255,255, 0.2);
    width: 60%;
    margin: 0 auto;
}

.price {
    display: flex;
    height: 70px;
    background: rgba(255,255,255, 0.5);
    margin: 20px;
    border-radius: 8px;
    padding-left: 5%;
}

.price p {
    font-size: 14px;
    margin-top: 0;
    display: inline;
    color: #999999;
}

.right-price{
    margin-left: 18%;
}

.right-price h2 {
    padding-right: 10px;
    font-size: 14px;
}

.right-price h3 {
    padding-right: 10px;
    text-align: right;
}

.left-price {
    width: 200px;
}

.left-price h2 {
    padding-left: 13px;
    margin-bottom: 5px;
    text-align: left;
}

.left-price p{
    padding-right: 5px;
}

.fish-logo{
    width: 25px;
    height: 25px;
    margin-top: 2.5%;
}

.price-type2 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 180px;
    background: rgba(255,255,255, 0.5);
    margin: 20px;
    border-radius: 8px;
}

.price-type2 h2 {
    font-size: 22px;
    text-align: left;
}

.price-type2 h3 {
    text-align: left;
    padding-left: 10px;
}

.bottom-link{
    text-align: left;
    margin-left: 5%;
    font-weight: bolder;
    font-size: small;
}

.back-img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

button{
    width: 63.5%;
    height: 10%;
    border-width: 0px;
    border-radius: 5px;
    background-color: #03A9F4;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    padding: 1.5%;
    color: white;
    margin-top: 5%;
    font-weight: bolder;
}

.default-input{
    width: 60%;
    height: 20%;
    border-width: 0px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    padding: 1.5%;
}

form{
    margin-top: 18.5%;
    margin-left: 5%;
}

h5{
    margin-bottom: 10px;
    text-align: left;
    margin-left: 19%;
}

select{
    width: 63%;
    height: 20%;
    border-width: 0px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    padding: 1.5%;
}

.input-container {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 62.5%;
    margin-left: 19%;
}

.input-container .top-input {
    border: none;
    padding: 10px;
    outline: none;
    background-image: url('visa-logo.png'), url('mastercard-logo.png'), url('maestro-logo.png'), url('paypal-logo.png');
    background-size: 30px 15px;
    background-repeat: no-repeat;
    background-position: right 5px center, right 37px center, right 70px center, right 105px center;
    padding-right: 90px;
    box-sizing: border-box;
}

.input-container .bottom-inputs {
    display: flex;
    border-top: 1px solid #ccc;
    align-items: center;
}

.input-container .bottom-inputs input {
    flex: 1;
    border: none;
    padding: 10px;
    outline: none;
}

.input-container .bottom-inputs::after {
    content: "";
    background-image: url('cvc-logo.png');
    background-size: 30px 15px;
    background-repeat: no-repeat;
    background-position: right center;
    width: 30px;
    height: 15px;
    margin-right: 5px;
}